# Node.js / Dependências
/node_modules
**/node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Build / cache
/.next/
/out/
/build
*.tsbuildinfo
next-env.d.ts
.cache/

# Testes / cobertura
/coverage

# Banco de dados local e Prisma
*.db
prisma/dev.db
prisma/migrations/
prisma/node_modules/
prisma/src/
src/generated/
src/generated/prisma/
**/*.dll.node
**/*.wasm

# Arquivos de ambiente
.env*
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Arquivos do sistema
.DS_Store
Thumbs.db
Desktop.ini
*.pem

# Editor / IDE
.vscode/
*.swp

# Deploy / serviços externos
.vercel

# Arquivos temporários ou zip
*.zip
*.tmp
*.bak
AppData/ 
